* {
  margin: 0px;
  padding: 0px;
}
/*Utilities  */
html{
  scroll-behavior: smooth;
}
.Red {
  color: #ff4545;
}
#element {
  color: rgb(255 188 47);
}
body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: rgb(92 98 158);
  position: fixed;
  width: 100%;
  margin-top: -20px;
} */
header{
  height: 55px;
  width: 100%;
  position: fixed;
  margin-top: -2vw;
  background-color: rgb(92 98 158);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  font-size: 2vw;
  font-weight:500;
  padding: 2vb;
  margin-left: 2.2vw;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  padding: 0 2vw;
}
nav ul li {
  list-style: none;
  
}
nav ul li a {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  color: white;
  position: relative;
}
nav ul li a:hover {
  color: #f86b6b;
}
/* Making a Transition */
nav ul li a::after {
  content: " ";
  width: 0;
  height: 0.2vw;
  background: #ff4545;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
  
}
nav ul > i {
  font-weight: 800px;
  align-items: center;
  display: none;
}



/* First section */
#Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1vw 0px;
  height: 44vw;
}

.div1 {
  height: 100vh;
  width: 50%;
  /* background-color: crimson; */
  padding: 0 4vh;
}
.div2 {
  height: 100vh;
  width: 50%;
  /* background-color: blueviolet; */
  padding: 2vw;
}
.div1 {
  margin-left: 1vw;
  font-size: 2.9rem;
  height: 40vh;
}
.div2 img {
  height: 60%;
  width: 60%;
  margin: 10vw;
}


/* About Section */

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.col1 {
  flex-basis: 35%;
}
.col1 > img {
  height: 25vw;
  width: 85%;
  border-radius: 10px;
  align-items: center;
}

.col2 {
  flex-basis: 55%;
}

.title {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.Sub-title {
  display: flex;
  margin: 10px 0px 12px;
}

.title-link {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.title-link::after {
  content: " ";
  width: 0;
  height: 3px;
  background: #f86b6b;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.title-link:hover::after {
  width: 50%;
}

.tab-content ul li {
  list-style: none;
  margin: 5px 0px;
  font-size: 12px;
}

.tab-content ul span {
  color: #ff4545;
  font-size: 15px;
}

.tab-content {
  display: none;
}

.tab-content.active-content {
  display: block;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>Project Section<<<<<<<<<<<<<<<<<<<<<<<< */

#project {
  height: 600px;
  padding: 30px 0px;
}

#project h2 {
  margin-left: 10px;
  font-size: 2.5rem;
}
#project .container {
  padding: 50px;
}

.button3{
  text-align: center;
  border: 2px solid #5c629e;
  margin: 1vw 45%;
  padding: 5px;
  border-radius:.4rem;
  font-size: 18px;
  font-family: sans-serif;
  display: inline-block;
  background: transparent;
  box-shadow: inset 0 0 0 0 #fff;
  border: 1px solid #ff4545;
  cursor: pointer;
  transition: .3s ease-in;
}
.button3:hover{
  border: 1px solid transparent;
  box-shadow: inset 300px 0 0 0 #ffffff54;
  color: black;
}
.more > a:hover{
  color: black;
}

#project .container .more > a {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  color: white;
  position: relative;
}

#project .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 14px;
}
.project-image > img {
  filter: invert(100%);
  height: 4vw;
  width: 4vw;
}
#project .projects {
  background-color: #2222225e;
  margin:1vw;
  padding: 2vw;
  border-radius: 2vw;
  transition: background  0.5s, tranform 0.5s;
}

@media (max-width: 600px) {
  header{
  height: 60px;
  width: 100%;
  background-color: rgb(92 98 158);
  }
  .left {
    font-size: 8vw;
    font-weight:500;
    padding: 2vb;
  }
  nav ul li{
    display: none;
  }
  nav ul > i {
  display: block;
  font-size: 11vw;
  }
/* Home section */
  #Home{
    flex-direction: column;
    height: 38vh;
    width: 100vw;
  }
  .div1 {
    height: 100%;
    font-size: 8vw;
    width: 100%;
    text-align: center;
    margin-top: 20vw;
    margin-left: 20vw;
  }
  .div2 {
    display: none;
  }
  .container{
    height: 190vw;
  }
  .row{

    margin-left: 20vw;
    margin-top:8vw;
  }
  .col1 > img {
    height:30vh;
    width: 55vw;
    border-radius: 5vw;
    align-items: center;
  }

  /* Project section */
  #project {
  margin-left: -5vw;
  height: 170vh;
  width: 100%;
  }
  #project .row{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }
  #project .projects{
    height: 90vw;
    width: 100vw;
    margin: 1vw;
    padding: 2vw;
  }
  .project-image > img {
    filter: invert(100%);
    height: 15vw;
    width: 15vw;
  }
  .project-info > h3 {
    font-size: 1.5rem;
   font-weight: bold;
    margin-bottom: 0.2vw;
  }
  .more{
    margin-top: -10vw;
    margin-left: 47%;
  }
  .button3{
    margin: 10vw 0vw;
  }
  .project-info a{
    margin: 0.5vw 42vw 0.5vw 30vw;
    padding: 1vw;
  }

  /* >>>>>>>>>>>>>Contact Info <<<<<<<<<<<<<<<*/

  .contact-content{
    display: flex;
    flex-direction:column-reverse;
    padding: 10px 13px;
  }
  .contact-left p{
    margin: 2vw 4vw;
    padding: 0.5vw 0vw;
    font-size: 1rem;
  }
  .social-image{
  margin:3vw 4vw;
  }
  .Bottom-resume{
    display: none;
  }
  .center{
    width: 100%;
  }

} 

.project-info > p {
  margin-bottom: 10px;
}

.project-info > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.2vw;
}

.project-info > p {
  margin-bottom: 10px;
}

.project-info a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  margin: 0.5vw 8vw 0px 7vw;
  display: inline-block;
  padding: 3px;
  border: 2px solid #5c629e;
  transition: background  0.5s, tranform 0.5s;
}

.project-info a:hover {
   background-color: #5c629e;
   border: 2px solid;
   /* transform: translate3d(5px); */
   
}

#project .projects:hover {
  background-color: #f86b6b;
  transform: translateY(-10px);
  box-shadow: 12px 12px 3px rgba(49, 49, 49, 0.329);
}


/* >>>>>>>>>>>>>Contact Info <<<<<<<<<<<<<<<*/

.contact-content{
  display: flex;
  padding: 10px 13px;
}
.contact-left{
  flex-basis: 35%;
  padding: 13px 10px;
}
.contact-left p{
  margin-top: 1.5vw;
  font-size: 1rem;
}
.contact-left .image{
  filter: invert(100%);
  height: 28px;
  width: 28px;
  margin-top: 5px;
}
.contact-left .social-image{
  margin-top: 1vw;
    padding: 0.5vw;
    width: 9%;
    display: inline-block;
    transition: transform 0.1s;
}

.social-icons .social-image:hover{
  color: #f86b6b;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(90, 89, 89, 0.19);

}

/* Style buttons */
.btn {
  background-color: #f86b6b;
  border: none;
  color: white;
  margin-top: 0px ;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.contact-right{
  flex-basis: 60%;
}
.contact-right form{
  width: 100%;
}
input, textarea{
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  color: white;
  font-size: 18px;
  border-radius: 5px;

}
.btn .submit{
  margin-left: 30%;
}

.center{
  height: 1.5vw;
  padding: 5px;
  text-align: center;
  color: #777575b4;
  background-color: #262626;
}
#msg{
  color:#8d8b8bd3;
  display:table-row;
}
